*{
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
}

body{
    background-color: black;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-width: 0px;
    border-bottom: 2px;
    border-top: 2px;
    border-color: aliceblue;
    border-style: dashed;
}

a{
    color: aliceblue;
}

button{
    width: 150px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    color: aliceblue;
    border-width: 2px;
    border-color: aliceblue;
    border-style: dashed;
}

footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-width: 0px;
    border-bottom: 2px;
    border-top: 2px;
    border-color: aliceblue;
    border-style: dashed;
    position: fixed;
    bottom: 0;
}
